<!-- START panel-->
 <div class="row row-table page-wrapper">
      <div class="col-lg-3 col-md-6 col-sm-8 col-xs-12 ">

         <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
               <a href="#">
                  
               </a>
               <p class="text-center mt-lg">
                  <h3>Bienvenido</h3>
                  <hr class="divider">
                  <h4><p class="label label-info">MedicalCare</p></h4>
               </p>
            </div>
            <div class="panel-body">
               <form role="form" class="mb-lg">
                  <div class="text-right mb-sm"><a href="#" class="text-muted">¿No estas registrado?</a>
                  </div>
                  <div class="form-group has-feedback">
                     <input id="exampleInputEmail1" type="text" placeholder="Cedula de identidad" ng-model="cedula" class="form-control">
                     <span class="fa fa-credit-card form-control-feedback text-muted"></span>
                  </div>
                  <div class="form-group has-feedback">
                     <input id="exampleInputPassword1" type="password" placeholder="Password" ng-model="password" class="form-control">
                     <span class="fa fa-lock form-control-feedback text-muted"></span>
                  </div>
                  <div class="clearfix">
                     <div class="checkbox c-checkbox pull-left mt0">
                        <label>
                           <input type="checkbox" value="">
                           <span class="fa fa-check"></span>Recordar</label>
                     </div>
                     <div class="pull-right"><a href="#!recuperar_password" class="text-muted">¿Olvidaste tu contraseña?</a>
                     </div>
                  </div>
                  <a ng-click="login()" type="submit" class="btn btn-block btn-primary">Entrar</a>
               </form>
            </div>
         </div>
         </div>
         </div>
         </div>
         <!-- END panel-->
